.favorites-container {
    min-height: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorites-title-wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    transform: translateX(-160px);
}


.favorites-title {
    width: 560px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 48px;
    text-align: left;
}

.favorites-images {
    position: relative;
    width: 100px;
    height: 100px;
}

.favorites-circle-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.favorites-face-img {
    width: 39.7px;
    height: 39.7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.favorite-details-block {
    display: flex;
    flex-direction: column;

    margin-top: 80px;
}

.favorite-details-block h1 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.price-basket {
    align-self: flex-end;
    text-align: right;
}

.price-basket button {
    background-color: rgb(var(--colour-interactive-emphasised-bg-default, 0, 88, 163));
    color: #fff;
    padding: 18px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    gap: 5px;
}

.price-basket button p {
    margin: 0;
    padding: 0;
}

.white-icon {
    filter: brightness(0) invert(1);
}

.all-price {
    font-size: 1.5rem;
    font-weight: 700;

}

.favorite-product-card {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 30px 0px 20px 0px;
}

.product-main-image {
    max-width: 120px;
    height: 120px;
    object-fit: contain;
    flex-shrink: 0;
}

.favorite-product-description {
    display: flex;
    flex-direction: column;
}

.favorite-product-description h3 {
    font-weight: 600;
}

.star-rating {
    display: inline-flex;
    gap: 2px;
    font-size: 20px;
    color: gray;
}

.star.filled {
    color: gold;
}

.rating-reviews {
    display: flex;
    align-items: center;
    gap: 5px;
}

.number-reviews {
    font-size: 13px;
}

.favorite-product-icons {
    display: flex;
    margin-top: 10px;
    gap: 30px;
}

.blue-backround {
    fill: currentColor;
}

.favorite-product-icons div {
    background-color: rgb(var(--colour-interactive-emphasised-bg-default, 0, 88, 163));
    padding: 8px;
    border-radius: 50px;
}

.color-box {
    display: inline-block;
    border-radius: 3px;
    margin-left: 6px;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.custom-bullet {
    list-style: none;
    padding-left: 0;
}

.custom-bullet li {
    padding-left: 1.5rem;
    font-size: 14px;
    color: #797878;
    font-weight: 500;
    position: relative;
}

.custom-bullet li::before {
    content: "•";
    color: #b7b7b7;
    font-size: 3em;
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    line-height: 1;
}

.additional-information {
    margin-left: 5rem;
}

.additional-information a {
    color: #656565;
    font-size: 14px;
}

