.arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease;
}

.characteristics-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.specs-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
}

.specs-content.open {
    max-height: 500px; 
    opacity: 1;
}

.product-specs-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.product-specs-list li {
    margin-bottom: 4px;
}

.product-specs-list li span{
   font-weight: 550;
}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
}

