.admin-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu-list li {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;

}

.admin-menu-list li:hover {
    font-weight: 600;

}

.underline-text {
    position: relative;
    display: inline-block;
}

.underline-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 30px;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    border-radius: 3px;
    transition: width 0.3s ease;
}

.admin-menu-list li.active {
    font-weight: 600;
}

.admin-menu-list li.active .underline-text::after {
    width: 100%;
}


.admin-menu-list li:hover .underline-text::after {
    width: 100%;
}

.admin-custom-menu-bg {
    background-color: #839D9A;
    color: #fff;

}


.admin-menu {
    width: 100%;
    max-width: 250px;
    min-width: 180px;
    flex-shrink: 0;
    padding: 20px;
    box-sizing: border-box;
}

.main-admin-panel {
    display: flex;

}

.admin-show-container {
   
   
    background-color: #f9f9f9;
}
.admin-menu.custom-menu-bg {
    position: fixed;
    height: 100%;
}

.admin-show-container {
   width: 100%;
}