header {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.leftMenu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.burgerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.burgerContainer p{
    color: #5F5F5F;
}

.menuItems {
    display: flex;
    gap: 50px;
    align-items: center;
}


.menuItems a {
    text-decoration: none;
    color: #5F5F5F;
}

.menuItems a p {
    margin: 0;
    cursor: pointer;
}

.menuItemsLeft{
    display: flex;
    gap: 94px;
    align-items: center;
}

.menuItemsLeft a {
    text-decoration: none;
    color: #5F5F5F;
}

.menuItemsLeft a p {
    margin: 0;
    cursor: pointer;
}

.rightMenu {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logoText {
    display: flex;
    gap: 14px;
}

.logoGroup {
    display: flex;
    gap: 21px;
}

.firstHeader {
    background-color: #839D9A;
    overflow: hidden;
    height: 40px;
}

.firstHeader div{
    display: flex;
    color: #ffff;
    gap: 50px;
    align-items: center;
    animation: running-text 15s linear infinite;
    width: auto;
   
}

  @keyframes running-text {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(100%);
    }
  }
  
