._container {
    padding: 55px;
}

.basket__button {
    background-color: black;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
}

.details-box {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.product-description {
    flex: 1 1 40%;
    max-width: 40%;
    padding: 0px 0px 0px 40px;
}

.main-image {
    width: 100%;
    height: auto;
    /* padding: 0px 0px 0px 40px; */

}

.product-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails {
    display: flex;
    margin-bottom: 20px;
}

.slider-image {
    width: 80px;
    border: 1px solid black;
}

.gallery {
    flex: 1 1 60%;
    max-width: 60%;
}

.product-info-list li:nth-child(1) {
    font-size: 16px;
}

.product-info-list li:nth-child(2) {
    font-weight: bold;
    font-size: 28px;
}

.product-info-list li:nth-child(3) {
    padding: 12px 0px 12px 0px;
    font-size: 25px;
}

.product-info-list li:nth-child(4) {
    font-size: 12px;
}

.product-info-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.credit-info {
    font-size: 12px;
    margin-top: 10px;
    max-width: 450px;
    color: #333333;
    margin-bottom: 15px;
}

.more-info-link {
    color: #484848;
}

.order-title {
    font-size: 14px;
    font-weight: 600;
}

.order-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    padding: 15px 0px 15px 0px;
}

.external-order-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-box div {
    padding-left: 8px;
}

.buy-information-box {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;

}

.separator-line {
    height: 1px;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

.info-line-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.basket-button {
    border-radius: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
    background-color: #295aa3;
    color: #fff;
    font-weight: 500;
}

.buy-information-icons {
    width: 20px;
    height: 20px;
}

.details-information-icons {
    width: 25px;
    height: 25px;
}


.add-basket-products-box {
    display: flex;
    gap: 15px;
}

.arithmetic-symbol {
    font-size: 40px;
}

.add-basket-products-box ul {
    display: flex;
    gap: 10px;
    padding: 0px 30px;
    align-items: center;
    border: 1px solid black;
    border-radius: 100px;
    list-style: none;
    margin: 0;
}


.add-basket-products-box ul li button:nth-child(1),
.add-basket-products-box ul li button:nth-child(3) {
    font-size: 40px;
    color: rgb(138, 138, 138);
    background-color: white;
    border: none;
    cursor: pointer;
}


.add-basket-products-box ul li button:nth-child(1):hover,
.add-basket-products-box ul li button:nth-child(3):hover {
    color: rgb(0, 0, 0);
}

.add-basket-products-box ul li:nth-child(2) {
    font-size: 28px;
}