@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif !important;

    /*font size*/
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 20px !important;
    }

    h4 {
        font-size: 16px !important;
    }

    h5 {
        font-size: 14px !important;
    }

    h6 {
        font-size: 12px !important;
        font-weight: 400 !important;
    }


    /*font weight*/
    .fw-light{
        font-weight: 300 !important;
    }


    .fw-reg {
        font-weight: 400 !important;
    }

    .fw-med {
        font-weight: 500 !important;
    }

    .fw-sem-bold {
        font-weight: 600 !important;
    }

    /*font colors*/
    .lt-grey {
        color: #646464 !important;
    }

   /*buttons*/
   .btn {
       border-radius: 30px;
       font-weight: 600;
       padding:  16.5px;

   }

    .cust-checkbox{
        border-radius: 5px !important;
        color: #646464 !important;
    }
}
