.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 244px 5px 33px 5px;
}


.link_category{
    color: #000000;
    background-color: #fff;
    padding: 11px 11px;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none; 
    text-align: center;
    width: 190px;
    margin: 0 auto;
    display: block; 
    text-align: center;
}

